@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    body {
        background: url('../public/pexels-8moments-1183099.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
}